%div.mainpage
  %div
    %h1= link_to 'ミュシカル', root_path, class: 'mainpage__title'
  %div
    %p= link_to 'ユーザー登録', new_user_path, class: 'mainpage__login'
    %p= link_to '設定', users_setting_path, class: 'mainpage__setting'
    %p= link_to 'ヘルプ', musirica_help_path, class: 'mainpage__help'
